DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=insecure-development-secret-key-change-me-123456789
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=Asia/Tashkent
CSRF_TRUSTED_ORIGINS=http://localhost:8000

POSTGRES_DB=uytop
POSTGRES_USER=uytop
POSTGRES_PASSWORD=uytop
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://localhost:6379/0
ADMIN_BYPASS_AUTH=true

JWT_ACCESS_TOKEN_MINUTES=15
JWT_REFRESH_TOKEN_DAYS=7
CELERY_TASK_ALWAYS_EAGER=false
CELERY_TASK_TIME_LIMIT=300
CELERY_TASK_SOFT_TIME_LIMIT=270
